/* Generated via www.cssmenubuilder.com */

.topmenu{margin:0 auto; padding:0; height:30px; width:100%; display:block;}
.topmenu li{padding:0px; margin-right:0px; list-style:none; display:block;background:#EEEEEE;}
.topmenu li a{float:left; padding-left:0px; display:block; color:#0077CC; text-decoration:none; font-weight:bold; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; cursor:pointer; }
.topmenu li a span{line-height:30px; float:left; display:block; padding-right:15px;} 
.topmenu li a:hover{background-position:0px -60px; color:orange;}
.topmenu li a:hover span{background-position:100% -60px;}
.topmenu li a:visited{color:#4A6B82;}
.topmenu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; }

.mainmenu{display:inline;}
.mainmenu li{padding:0px; margin-right:5px; display:inline-block; background:none repeat scroll 0 0 #777777;}
.mainmenu li a{float:left; padding-left:15px; padding-right:15px;display:block; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:100%; font-family: Verdana, Arial, Helvetica, sans-serif; cursor:pointer;line-height:30px; }
.mainmenu li a.normal{float:left; padding-left:15px; display:block; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:100%; font-family: Verdana, Arial, Helvetica, sans-serif; cursor:pointer; }
.mainmenu li a span{line-height:30px; float:left; display:block; padding-right:15px;} 
.mainmenu li a:hover{background-position:0px -60px; background-color:orange;}
.mainmenu li a:hover span{background-position:100% -60px;}
.mainmenu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; }
.mainmenu li a.youarehere, .menu li a.youarehere:hover{background-position:0px -60px; background-color:orange; }

.askmenu{display:inline;}
.askmenu li{padding:0px; margin-right:5px; margin-left:20px;list-style:none; display:inline-block;background:#777;}
.askmenu li a{float:left; padding-left:15px; padding-right:15px;display:block; color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:100%; font-family: Verdana, Arial, Helvetica, sans-serif; cursor:pointer; line-height:30px;}
.askmenu li a span{line-height:30px; float:left; display:block; padding-right:15px;}
.askmenu li a:hover{background-position:0px -60px; background-color:orange;}
.askmenu li a:hover span{background-position:100% -60px;}
.askmenu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; }
.askmenu li a.youarehere, .menu li a.youarehere:hover{background-position:0px -60px; background-color:orange; }


.submenu {
border-bottom:1px solid #666666;
clear:both;
margin-bottom:15px;
}
